* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    /* overflow: hidden; */
}

.div-bg-gauge-1 {
    margin-left: 5px;
    margin-right: 5px;
    width: 850px;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("../img/v2.png"); */
    background-position: 0px, 0px;
    background-repeat: no-repeat;
}
.div-bg-gauge-2 {
    margin-left: 5px;
    margin-right: 5px;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("../img/v2.png"); */
    background-position: 0px, 0px;
    background-repeat: no-repeat;
}