* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    /* overflow: hidden; */
}

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

.div-bg-gauge-1 {
    margin-left: 5px;
    margin-right: 5px;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("../img/v2.png"); */
    background-position: 0px, 0px;
    background-repeat: no-repeat;
}
.div-bg-gauge-2 {
    margin-left: 10px;
    margin-right: 10px;
    width: 540px;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("../img/v2.png"); */
    background-position: 0px, 0px;
    background-repeat: no-repeat;
}

.side-table {
    /*border: solid 1px white; color: aliceblue; */
    border: none;
    width: 370px;
    vertical-align: middle;
    color: #ccc;
}
.side-table-title-1 {
    font-family: 'Supreme-Bold';
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}
.side-table-content-1 {
    font-family: 'Supreme-Regular';
    font-size: 50px;
    line-height: 50px;
}
